body{
    background-image: url(/bgimg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.heading{
    text-align: center;
    margin-left: 25vw;
    width: 40vw;
    font-size: 50px;
    font-weight: 400;
    background-image: radial-gradient(ellipse,#2b00ff, #ff0000);
    border-radius: 50px;
}
.eq{
    border-radius: 50px;    
    text-align: center;
    margin-left: 35vw;
    width: 20vw;
    font-size: 35px;
    font-weight: 200;
    background-image: radial-gradient(ellipse,#00ff26, #ff0000);
}
.label{
    border-radius: 25px;    
    text-align: center;
    margin-left: 35vw;
    width: 20vw;
    font-size: 20px;
    font-weight: 100;
    background-image: radial-gradient(ellipse,#3cf959, #f53838);
}
input[type=number] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 20px;
  }
  
  input[type=number]:focus {
    border: 3px solid #555;
  }